* {
    box-sizing: border-box;
}

body {
    background-color: #3D5473;
}

main {
    
}

img {
    width: 100%;
    height: auto;

}

.divContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    padding: 2%;
    text-align: center;
}


.div {
    
}

.div1 {
    
}

.div2 {
    
}

.div3 {
    
}

.div4 {
    
}

.div5 {
    margin-top: 22,5%;
}

.div6 {
    grid-column: 3 / span 2;
}

h1, p {
    color: white;
    font-family: aptly,sans-serif;

}

h1 {
    font-weight: 700;
    font-style: bold;
}

p {
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    padding: 5%;
    font-size: 100%;
}