* {
    box-sizing: border-box;
}

body {
    background-color: #3D5473;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px;
}

header nav .logo {
    width: 50px;
}

header nav .links {
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    font-size: 1.1rem;
    gap: 1rem;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    text-decoration: underline;
}

#hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.something {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-color: red;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    nav {
        background-color: #3D5473;
        flex-direction: column;
    }

    nav .links {
        flex-direction: column;
        width: 100%;
    }

    nav .logo {
        align-self: flex-start;
    }
}